<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dashboard</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-user fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p th:text="${newContractor}"></p></div>
                                <div>New Contractor</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/contractor/index}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><p th:text="${newFeedback}"></p></div>
                                <div>New Report</div>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/report/index}">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">124</div>
                                <div>New Orders!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">13</div>
                                <div>Support Tickets!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- /Equipment -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Equipment

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <input type="text" id="daterange" class="form-control" width="50px"/>
                            </div>
                            <div class="col-lg-2">
                                <select name="selectType" id="selectTimeUnit" class="form-control">
                                    <option value="week">Week</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                            <div class="col-lg-8">
                            </div>
                        </div>
                        <div class="row">
                            <div id="columnchart_hiring_transaction" class="col-lg-6" style="height: 500px"></div>
                            <div id="columnchart_equipment_type" class="col-lg-6" style="height: 500px"></div>
                            <div id="columnchart_equipment" class="col-lg-4" style="height: 500px"></div>
                            <div id="columnchart_equipment_total_transaction" class="col-lg-4"
                                 style="height: 500px"></div>
                            <div id="columnchart_equipment_total_transaction_price" class="col-lg-4"
                                 style="height: 500px"></div>
                            <div id="" class="col-lg-6"></div>
                        </div>

                    </div>


                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-12 -->

        </div>
        <!-- /Material -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Material

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-3">
                                <input type="text" id="daterangeMaterial" class="form-control"/>
                            </div>
                            <div class="col-lg-3">
                                <select name="selectType" id="selectTimeUnitMaterial" class="form-control">
                                    <option value="week">Week</option>
                                    <option value="month">Month</option>
                                    <option value="year">Year</option>
                                </select>
                            </div>
                        </div>
                        <div id="columnchart_material_transaction" class="col-lg-6" style="height: 500px"></div>
                        <div id="columnchart_material_type" class="col-lg-6" style="height: 500px"></div>
                        <div id="columnchart_material" class="col-lg-6" style="height: 500px"></div>

                    </div>

                    <!-- /.panel-body -->
                </div>

            </div>
            <!-- /.col-lg-12 -->

        </div>
        <!--&lt;!&ndash; /Debris &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
        <!--<i class="fa fa-bar-chart-o fa-fw"></i> Debris-->

        <!--</div>-->
        <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
        <!--<div class="panel-body">-->
        <!--<div class="row">-->
        <!--<div class="col-lg-4">-->
        <!--<input type="text" name="daterange" class="form-control"/>-->
        <!--</div>-->
        <!--<div class="col-lg-4">-->
        <!--<select name="selectType" id="selectTypeDebris" class="form-control">-->
        <!--<option value="transaction">Transaction</option>-->
        <!--<option value="equipment">Equipment</option>-->
        <!--<option value="equipmentType">Equipment Type</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--<div class="col-lg-4">-->
        <!--<select name="selectType" id="selectTimeUnitDebris" class="form-control">-->
        <!--<option value="year">Year</option>-->
        <!--<option value="month">Month</option>-->
        <!--<option value="week">Week</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div id="columnchart_debris_transaction" style="width: 500px; height: 500px;"></div>-->
        <!--<div id="columnchart_debris_type" style="width: 500px; height: 500px;"></div>-->
        <!--<div id="columnchart_debris" style="width: 500px; height: 500px;"></div>-->
        <!--<script type="text/javascript" th:inline="javascript">-->
        <!--var equipmentData = /*[[${equipmentData}]]*/ 'equipmentData';-->
        <!--var hiringTransactionData = /*[[${hiringTransactionData}]]*/ 'hiringTransactionData';-->
        <!--var equipmentTypeData = /*[[${equipmentTypeData}]]*/ 'equipmentTypeData';-->


        <!--google.charts.load('current', {'packages': ['corechart', 'bar', 'line']});-->
        <!--google.charts.setOnLoadCallback(drawTransactionChart);-->
        <!--google.charts.setOnLoadCallback(drawEquipmentTypeChart);-->
        <!--google.charts.setOnLoadCallback(drawEquipmentChart);-->

        <!--function drawTransactionChart() {-->


        <!--var reportsData = [-->
        <!--['Year', 'Total', 'Processing', 'Finished', 'Canceled']-->
        <!--];-->
        <!--Object.keys(equipmentTypeData).forEach(function (key) {-->

        <!--var value1 = equipmentTypeData[key].timeUnit + '';-->
        <!--var value2 = equipmentTypeData[key].totalCount;-->
        <!--var value3 = equipmentTypeData[key].totalProcessing;-->
        <!--var value4 = equipmentTypeData[key].totalFinished;-->
        <!--var value5 = equipmentTypeData[key].totalCanceled;-->
        <!--// Object.keys(value).forEach(function (key){-->
        <!--//     var subValue = value[key];-->

        <!--reportsData.push([value1, value2, value3, value4, value5]);-->
        <!--// });-->


        <!--});-->

        <!--var data = google.visualization.arrayToDataTable(reportsData);-->


        <!--var options = {-->
        <!--chart: {-->
        <!--title: 'Hiring Transaction Analyist By Year',-->
        <!--subtitle: 'Transaction Status',-->
        <!--},-->
        <!--bars: 'vertical' // Required for Material Bar Charts.-->
        <!--};-->

        <!--var chart = new google.charts.Bar(document.getElementById('columnchart_debris_transaction'));-->

        <!--chart.draw(data, google.charts.Bar.convertOptions(options));-->
        <!--}-->

        <!--function drawEquipmentTypeChart() {-->

        <!--var reportsData = [-->
        <!--['Equipment Type', 'Quantity']-->
        <!--];-->
        <!--Object.keys(hiringTransactionData).forEach(function (key) {-->

        <!--var value1 = hiringTransactionData[key].type;-->
        <!--console.log("aaa" + value1);-->
        <!--var value2 = hiringTransactionData[key].quantity;-->
        <!--console.log("bbbb" + value2);-->

        <!--reportsData.push([value1, value2]);-->


        <!--});-->
        <!--console.log("aaa" + hiringTransactionData);-->
        <!--console.log(reportsData);-->
        <!--var data = google.visualization.arrayToDataTable(reportsData);-->


        <!--var options = {-->
        <!--title: 'Equipment Type',-->
        <!--is3D: true,-->
        <!--};-->


        <!--var chart = new google.visualization.PieChart(document.getElementById('columnchart_debris_type'));-->

        <!--chart.draw(data, options);-->
        <!--}-->

        <!--function drawEquipmentChart() {-->
        <!--var reportsData = [];-->

        <!--Object.keys(equipmentData).forEach(function (key) {-->
        <!--var value1 = equipmentData[key].timeUnit + '';-->
        <!--var value2 = equipmentData[key].quantity;-->
        <!--console.log("abc " + value1);-->
        <!--console.log("abc " + value2);-->
        <!--reportsData.push([value1, value2]);-->
        <!--});-->
        <!--console.log("bca " + equipmentData);-->

        <!--console.log("abc " + reportsData);-->
        <!--var data = new google.visualization.DataTable();-->
        <!--data.addColumn('string', 'TimeUnit');-->
        <!--data.addColumn('number', 'Quantity');-->
        <!--data.addRows(reportsData);-->
        <!--var options = {-->
        <!--title: 'Equipment Posted',-->
        <!--pieHole: 0.4-->
        <!--};-->


        <!--var chart = new google.charts.Line(document.getElementById('columnchart_debris'));-->

        <!--chart.draw(data, google.charts.Line.convertOptions(options));-->
        <!--}-->


        <!--</script>-->
        <!--</div>-->

        <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->
        <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash; /.col-lg-12 &ndash;&gt;-->

        <!--</div>-->
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>
<script>
    google.charts.load('current', {'packages': ['corechart', 'bar', 'line']});
    google.charts.setOnLoadCallback(function () {
        callAnalystEquipment();
        callAnalystMaterial();
    });
    var filters = {
        start: moment().subtract(3, 'months'),
        end: moment()
    };
    // equipment data
    var hiringTransactionData = [];
    var equipmentTypeData = [];
    var equipmentData = [];
    var equipmentTotalTransactionData = [];
    var equipmentTotalPriceTransactionData = [];
    var timeUnitElement = $('#selectTimeUnit');

    // material data
    var materialTransactionData = [];
    var materialTypeData = [];
    var materialData = [];
    var timeUnitMaterialElement = $('#selectTimeUnitMaterial');

    function uppercaseFirstChar(text) {
        return text.charAt(0).toUpperCase() + text.substr(1);
    }

    $(document).ready(function () {

        //  equipment draw chart
        // Init date range picker
        $('input[id="daterange"]').daterangepicker({
            startDate: window.filters.start,
            endDate: window.filters.end,
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY'
            },
            maxDate: moment(),

        }, function (start, end) {
            window.filters.start = start;
            window.filters.end = end;

            callAnalystEquipment();
        });

        // Add listener onChange selectType
        $('#selectTimeUnit').on('change', callAnalystEquipment);

        // Material draw chart
        // Init date range picker
        $('input[id="daterangeMaterial"]').daterangepicker({
            startDate: window.filters.start,
            endDate: window.filters.end,
            opens: 'left',
            locale: {
                format: 'DD/MM/YYYY'
            },
            maxDate: moment(),

        }, function (start, end) {
            window.filters.start = start;
            window.filters.end = end;

            callAnalystMaterial();
        });

        // Add listener onChange selectType
        $('#selectTimeUnitMaterial').on('change', callAnalystMaterial);

    })

    function callAnalystEquipment() {
        var start = window.filters.start;
        var end = window.filters.end;
        var selectType = $('#selectTimeUnit').val();

        $.ajax({
            url: "/report/hiringTransacton",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {

                hiringTransactionData = response;
                drawHiringTransactionChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });

        $.ajax({
            url: "/report/equipmentTotalTransaction",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {

                equipmentTotalTransactionData = response;
                drawEquipmentTransationChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
        $.ajax({
            url: "/report/equipmentTotalPriceTransaction",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {
                console.log('total Price', response);
                equipmentTotalPriceTransactionData = response;
                drawEquipmentTransationPriceChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
        $.ajax({
            url: "/report/equipment",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {

                equipmentData = response;
                drawEquipmentChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });

        $.ajax({
            url: "/report/equipmentType",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY')
            },
            success: function (response) {

                equipmentTypeData = response;
                drawEquipmentTypeChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function callAnalystMaterial() {
        var start = window.filters.start;
        var end = window.filters.end;
        var selectType = $('#selectTimeUnitMaterial').val();

        $.ajax({
            url: "/report/materialTransacton",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {
                materialTransactionData = response;
                drawMaterialTransactionChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });

        $.ajax({
            url: "/report/materialType",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY')
            },
            success: function (response) {
                materialTypeData = response;
                drawMaterialTypeChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });

        $.ajax({
            url: "/report/material",
            type: "GET",
            data: {
                beginDate: start.format('DD-MM-YYYY'),
                endDate: end.format('DD-MM-YYYY'),
                selectType: selectType
            },
            success: function (response) {

                materialData = response;
                drawMaterialChart();
            },
            error: function (xhr) {
                //Do Something to handle error
            }
        });
    }

    function drawHiringTransactionChart() {


        var reportsData = [
            [uppercaseFirstChar(timeUnitElement.val()), 'Processing', 'Finished', 'Canceled']
        ];
        Object.keys(hiringTransactionData).forEach(function (key) {

            var timeUnit = hiringTransactionData[key].timeUnit + '';
            var totalProcessing = hiringTransactionData[key].totalProcessing;
            var totalFinished = hiringTransactionData[key].totalFinished;
            var totalCanceled = hiringTransactionData[key].totalCanceled;

            reportsData.push([timeUnit, totalProcessing, totalFinished, totalCanceled])
        });

        var data = google.visualization.arrayToDataTable(reportsData);


        var options = {
            chart: {
                title: 'Hiring Transaction Analyist By ' + uppercaseFirstChar(timeUnitElement.val()),
                subtitle: 'Transaction Status',
            },
            tooltip:
                {textStyle: {color: '#FF0000'}, showColorCode: true, ignoreBounds: true}
            ,
            colors: ['#f4b400', '#0f9d58', '#db4437'],
            bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_hiring_transaction'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function drawEquipmentTypeChart() {

        var reportsData = [
            ['Equipment Type', 'Quantity']
        ];
        Object.keys(equipmentTypeData).forEach(function (key) {

            var value1 = equipmentTypeData[key].type;
            var value2 = equipmentTypeData[key].quantity;
            reportsData.push([value1, value2]);
        });
        var data = google.visualization.arrayToDataTable(reportsData);
        var options = {
            title: 'Equipment Type',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('columnchart_equipment_type'));

        chart.draw(data, options);
    }

    function drawEquipmentChart() {
        var reportsData = [];

        Object.keys(equipmentData).forEach(function (key) {
            var value1 = equipmentData[key].timeUnit + '';
            var value2 = equipmentData[key].quantity;
            reportsData.push([value1, value2]);
        });
        var data = new google.visualization.DataTable();
        data.addColumn('string', uppercaseFirstChar(timeUnitElement.val()));
        data.addColumn('number', 'Quantity');
        data.addRows(reportsData);
        var options = {
            title: 'Equipment Posted',
            pieHole: 1
        };


        var chart = new google.charts.Line(document.getElementById('columnchart_equipment'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawEquipmentTransationChart() {
        var reportsData = [];

        Object.keys(equipmentTotalTransactionData).forEach(function (key) {
            var value1 = equipmentTotalTransactionData[key].timeUnit + '';
            var value2 = equipmentTotalTransactionData[key].quantity;
            reportsData.push([value1, value2]);
        });
        var data = new google.visualization.DataTable();
        data.addColumn('string', uppercaseFirstChar(timeUnitElement.val()));
        data.addColumn('number', 'Quantity');
        data.addRows(reportsData);
        var options = {
            title: 'Total Hiring Transaction Created',
            pieHole: 1
        };


        var chart = new google.charts.Line(document.getElementById('columnchart_equipment_total_transaction'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawEquipmentTransationPriceChart() {
        var reportsData = [];

        Object.keys(equipmentTotalPriceTransactionData).forEach(function (key) {
            var value1 = equipmentTotalPriceTransactionData[key].timeUnit + '';
            var value2 = equipmentTotalPriceTransactionData[key].price;
            reportsData.push([value1, value2]);
        });
        var data = new google.visualization.DataTable();

        data.addColumn('string', uppercaseFirstChar(timeUnitElement.val()));
        data.addColumn('number', 'Price');
        data.addRows(reportsData);
        var options = {
            title: 'Total Price Hiring Transaction Created',
            pieHole: 1,
        };


        var chart = new google.charts.Line(document.getElementById('columnchart_equipment_total_transaction_price'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawMaterialTransactionChart() {


        var reportsData = [
            [uppercaseFirstChar(timeUnitMaterialElement.val()), 'Processing', 'Finished', 'Canceled']
        ];
        Object.keys(materialTransactionData).forEach(function (key) {

            var timeUnit = materialTransactionData[key].timeUnit + '';
            var totalProcessing = materialTransactionData[key].totalProcessing;
            var totalFinished = materialTransactionData[key].totalFinished;
            var totalCanceled = materialTransactionData[key].totalCanceled;

            reportsData.push([timeUnit, totalProcessing, totalFinished, totalCanceled])
        });

        var data = google.visualization.arrayToDataTable(reportsData);


        var options = {
            chart: {
                title: 'Material Transaction Analyist By ' + uppercaseFirstChar(timeUnitMaterialElement.val()),
                subtitle: 'Transaction Status',
            },
            colors: ['#f4b400', '#0f9d58', '#db4437'],
            bars: 'vertical' // Required for Material Bar Charts.
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material_transaction'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function drawMaterialTypeChart() {

        var reportsData = [
            ['Material Type', 'Quantity']
        ];
        Object.keys(materialTypeData).forEach(function (key) {

            var value1 = materialTypeData[key].type;
            var value2 = materialTypeData[key].quantity;
            reportsData.push([value1, value2]);
        });
        var data = google.visualization.arrayToDataTable(reportsData);
        var options = {
            title: 'Material Type',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('columnchart_material_type'));

        chart.draw(data, options);
    }

    function drawMaterialChart() {
        var reportsData = [];

        Object.keys(materialData).forEach(function (key) {
            var value1 = materialData[key].timeUnit + '';
            var value2 = materialData[key].quantity;
            reportsData.push([value1, value2]);
        });
        var data = new google.visualization.DataTable();

        data.addColumn('string', uppercaseFirstChar(timeUnitMaterialElement.val()));
        data.addColumn('number', 'Quantity');
        data.addRows(reportsData);
        var options = {
            title: 'Material Posted',
            pieHole: 1
        };


        var chart = new google.charts.Line(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>

</body>

</html>
