<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Staff Information</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form th:action="@{/staff/saveProcess}" method="post"
                                      th:object="${staff}" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">
                                    <input type="hidden" th:field="*{account.id}">
                                    <input type="hidden" th:field="*{password}">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input th:field="*{username}" class="form-control" placeholder="User Name">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input th:field="*{account.name}" class="form-control" placeholder="Full Name">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('account.name')}" th:errors="*{account.name}" style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select th:field="*{account.male}" class="form-control">
                                            <option th:value="'true'" th:text="Male"></option>
                                            <option th:value="'false'" th:text="Female"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Phone Number</label>
                                        <input th:field="*{account.phone}" class="form-control" placeholder="Phone Number">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('account.phone')}" th:errors="*{account.phone}" style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input th:field="*{account.email}" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('account.email')}" th:errors="*{account.email}" style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Role:</label>
                                        <p th:text="*{account.role.roleName}" class="form-control-static"
                                           placeholder="Role Name"></p>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <input type="submit" class="btn btn-success"
                                                   onclick="succcessAlert()" value="Save">
                                            <a href="#" class="btn btn-danger" data-toggle="modal"
                                               data-target="#smallModalCancel">Cancel</a>

                                            <div class="modal fade" id="smallModalCancel" tabindex="-1" role="dialog"
                                                 aria-labelledby="smallModalCancel" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabelCancel">Confirm</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Do you want to cancel?</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                No
                                                            </button>
                                                            <a th:href="@{/staff/index}" class="link btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <a href="#" class="btn btn-danger" data-toggle="modal"
                                               data-target="#smallModal">Delete</a>

                                            <div class="modal fade" id="smallModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="smallModal" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Do you want to delete?</h4>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                No
                                                            </button>
                                                            <a th:href="@{/staff/delete(id = *{id})}" class="link btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    function succcessAlert() {
        swal("Saved !", "", "success");
    }

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>
