<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Material Information</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form th:action="@{/material/saveProcess}" method="post"
                                      th:object="${material}" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">


                                    <div class="form-group">
                                        <label>Material Name:</label>
                                        <input th:field="*{name}" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                              style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Material Type:</label>
                                        <a th:href="@{/material_type/detail/{id}(id = *{materialTypeEntity.id})}">
                                            <p th:text="*{materialTypeEntity.name}" class="link form-control-static"
                                               placeholder="Material Type" style="color: #1ab7ea;"></p>
                                        </a>
                                    </div>
                                    <div class="form-group">
                                        <label>Unit:</label>
                                            <p th:text="*{materialTypeEntity.unit}" class="link form-control-static"
                                               placeholder="Material Unit"></p>
                                        </a>
                                    </div>

                                    <div class="form-group">
                                        <label>Price:</label>
                                        <input th:field="*{price}" class="form-control"
                                               placeholder="Price">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                              style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Manufacturer:</label>
                                        <input th:field="*{manufacturer}" class="form-control" placeholder="Manufacturer">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}"
                                              style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Status:</label>
                                        <span th:switch="*{hidden}">
                                            <p th:case="true" class="form-control-static" style="color: green">Unpubliced</p>
                                            <p th:case="false" class="form-control-static" style="color: #1ab7ea">Public</p>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Material Picture:</label>
                                        <div class="col-lg-12">
                                                <img th:src="*{thumbnail}" style="width: 100px; height: 100px"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Supplier:</label>
                                        <a th:href="@{/contractor/detail/{id}(id = *{contractorEntity.id})}">
                                            <p th:text="*{contractorEntity.name}" class="link form-control-static"
                                               placeholder="Supplier" style="color: #1ab7ea;"></p>
                                        </a>
                                    </div>


                                    <div class="form-group">
                                        <label>Created Time:</label>
                                        <p th:text="*{{createdTime}}" class="form-control-static"
                                           placeholder="Created Time"></p>
                                    </div>
                                    <div class="form-group">
                                        <label>Updated Time:</label>
                                        <p th:text="*{{updatedTime}}" class="form-control-static"
                                           placeholder="Updated Time"></p>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success"
                                                value="Save">
                                        <a href="#" class="btn btn-default" data-toggle="modal"
                                           data-target="#smallModal">Cancel</a>

                                        <div class="modal fade" id="smallModal" tabindex="-1" role="dialog"
                                             aria-labelledby="smallModal" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h4>Do you want to cancel?</h4>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">
                                                            No
                                                        </button>
                                                        <a th:href="@{/material/index}"
                                                           class="link btn btn-danger">Yes</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <div class="col-lg-6">

                                <!--/.table-responsive -->
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });

    function succcessAlert() {
        swal("Saved !", "", "success");
    }

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>
