<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Hiring Transaction Manage</h1>
            </div>


            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <!--<a th:href="@{/feedback/create}" class="link btn btn-default spacing">Create New</a>-->
            </div>

            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Feedback Information
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Id</th>
                                <th>Status</th>
                                <th>Equipment</th>
                                <th>Requester</th>
                                <th>Daily Price</th>
                                <th>Delivery Price</th>
                                <th>Total Price</th>
                                <th>Equipment Address</th>
                                <th>Requester Adddress</th>
                                <th>Create Time</th>
                                <th>Updated Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item,iter : ${transactions}">
                                <td th:text="${iter.index + 1}"></td>
                                <td><a th:href="@{/hiring_transaction/detail/{id}(id = ${item.id})}">
                                    <span th:text="${item.id}" class="link"></span></a>
                                </td>
                                <td th:text="${item.status}"></td>

                                <td><a th:href="@{/equipment/detail/{id}(id = ${item.equipment.id})}">
                                    <span th:text="${item.equipment.name}" class="link"></span></a>
                                </td>
                                <td><a th:href="@{/contractor/detail/{id}(id = ${item.requester.id})}">
                                    <span th:text="${item.requester.name}" class="link"></span></a>
                                </td>
                                <td th:text="${item.dailyPrice}"></td>
                                <td th:text="${item.deliveryPrice}"></td>
                                <td th:text="${item.dailyPrice + item.deliveryPrice}"></td>
                                <td th:text="${item.equipmentAddress}"></td>
                                <td th:text="${item.requesterAddress}"></td>
                                <td th:text="${item.createdTime}"></td>
                                <td th:text="${item.updatedTime}"></td>

                            </tr>

                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
</body>

</html>
