<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create Notification</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create New Notification
                    </div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-6">
                                <form th:action="@{/notification/sendNotification}" method="post" th:object="${notification}"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input th:field="*{title}" class="form-control" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label>Content</label>
                                        <input th:field="*{content}" class="form-control" placeholder="Content">
                                    </div>
                                    <div class="form-group">
                                        <label>Contractor:</label>
                                        <a th:href="@{/contractor/detail/{id}(id = *{contractorId})}">
                                            <p th:text="${contractor.name}" class="link form-control-static"
                                               placeholder="Contractor" style="color: #1ab7ea;"></p>
                                        </a>
                                        <input type="hidden" th:field="*{contractorId}">
                                    </div>

                                    <input type="Submit" value="Save" class="btn btn-success">
                                    <button type="reset" class="btn btn-default">Reset</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <div class="col-lg-6">

                            </div>

                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    // var password = document.getElementById("password")
    //     , confirm_password = document.getElementById("confirm_password");
    //
    // function validatePassword() {
    //     console.log(password.value, confirm_password.value);
    //     if (password.value != confirm_password.value) {
    //         confirm_password.setCustomValidity("Passwords Don't Match");
    //     } else {
    //         confirm_password.setCustomValidity("");
    //     }
    // }
    //
    // password.onchange = validatePassword;
    // confirm_password.onkeyup = validatePassword;
</script>
</body>

</html>
