<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:replace="fragments/header :: header"></div>
    <title>CCP Admin</title>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="fragments/navigation :: navigation"></div>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Equipment Type Information</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form th:action="@{/equipment_type/saveProcess}" method="post"
                                      th:object="${equipmentType}" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{id}">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input th:field="*{name}" class="form-control" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
                                    </div>
                                    <div class="form-group">
                                    <label>Equipment Type Category</label>
                                    <select th:field="*{generalEquipmentType}" class="form-control">
                                        <option th:each="generalEquipmentType : ${generalEquipmentTypes}"
                                                th:value="${generalEquipmentType.id}"
                                                th:text="${generalEquipmentType.name}">
                                        </option>
                                    </select>
                                    </div>
                                    <input type="Submit" value="Save" class="btn btn-success">
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->

                            <div th:if="${equipmentType.id != null}" class="col-lg-6">
                                <h4 class="header">Additional Special Fields</h4>
                                <a th:href="@{/additional_special_field/create/{id}(id = ${equipmentType.id})}"
                                   class="link btn btn-default spacing">Create New Field</a>

                                <table width="100%" class="table table-striped table-bordered table-hover"
                                       id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Name</th>
                                        <th>Data Type</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="item,iter : ${additionalSpecialField}">
                                        <td th:text="${iter.index + 1}"></td>
                                        <td><a th:href="@{/additional_special_field/detail/{id}(id = ${item.id})}">
                                            <span th:text="${item.name}" class="link"></span></a>
                                        </td>
                                        <td th:text="${item.dataType}"></td>
                                        <td>
                                            <a th:href="@{/general_equipment_type/delete(id = ${item.id})}"
                                               class="link btn btn-default">Delete</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <!--/.table-responsive -->
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="fragments/footer_javascript :: footer_javascript"></div>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
</body>

</html>
