<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer_javascript">
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>
    <!--Sweetalert -->
    <script src="/vendor/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

</div>
<script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD5fPEgJ76vYhwwr7h4XO3h7bzIEwynu0M",
        authDomain: "ccpnotification.firebaseapp.com",
        databaseURL: "https://ccpnotification.firebaseio.com",
        projectId: "ccpnotification",
        storageBucket: "ccpnotification.appspot.com",
        messagingSenderId: "308745667796"
    };
    firebase.initializeApp(config);
</script>
</html>
