<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <!--<link href="${pageContext.request.contextPath}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>

    <!-- MetisMenu CSS -->
    <!--<link href="${pageContext.request.contextPath}/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/metisMenu/metisMenu.min.css}"/>

    <!-- Custom CSS -->
    <!--<link href="${pageContext.request.contextPath}/dist/css/sb-admin-2.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/dist/css/sb-admin-2.css}"/>

    <!-- Morris Charts CSS -->
    <!--<link href="${pageContext.request.contextPath}/vendor/morrisjs/morris.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/morrisjs/morris.css}"/>

    <!-- Custom Fonts -->
    <!--<link href="${pageContext.request.contextPath}/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>

    <!-- Custom CSS -->
    <!--<link href="${pageContext.request.contextPath}/style.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</div>
</html>