<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navigation">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home/index}">CCP Admin</a>

        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <h5 sec:authorize="isAuthenticated()">Welcome, <span style="color: #1ab7ea"
                                                                     sec:authentication="name"></span></h5>
            </li>
            <!-- /.dropdown notification-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/home/index}">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a th:href="@{/staff/detail/{id}(id = ${})}"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}"><i
                            class="fa fa-sign-out fa-fw"></i>Logout</a>

                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <!--<li class="sidebar-search">-->
                        <!--<div class="input-group custom-search-form">-->
                            <!--<input type="text" class="form-control" placeholder="Search...">-->
                            <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button">-->
                                    <!--<i class="fa fa-search"></i>-->
                                <!--</button>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; /input-group &ndash;&gt;-->
                    <!--</li>-->
                    <li>
                        <a th:href="@{/home/index}"><i
                                class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/staff/index}"><i
                                class="fa fa-user-plus fa-fw"></i> Manage Staff</a>
                    </li>
                    <li>
                        <a th:href="@{/contractor/index}"><i
                                class="fa fa-user fa-fw"></i> Manage Contractor</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-truck"></i> Manage Equipment<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/equipment/index}"><i
                                        class="glyphicon glyphicon-wrench"></i> Equipment</a>
                            </li>
                            <li>
                                <a th:href="@{/hiring_transaction/index}"><i
                                        class="glyphicon glyphicon-transfer"></i> Hiring Transaction</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Manage Equipment Type<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a th:href="@{/general_equipment_type/index}"><i class="fa fa-table fa-fw"></i>
                                            Equipment Category</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/equipment_type/index}"><i class="fa fa-table fa-fw"></i>Equipment
                                            Type</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-cubes"></i> Manage Material<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">


                            <li>
                                <a th:href="@{/material/index}"><i
                                        class="glyphicon glyphicon-wrench"></i> Material</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Manage Material Transaction<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a th:href="@{/material_transaction/index}"><i
                                                class="glyphicon glyphicon-transfer"></i> Material Transaction</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/material_transaction_detail/index}"><i
                                                class="glyphicon glyphicon-transfer"></i> Material Transaction Detail</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Manage Material Type<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a th:href="@{/general_material_type/index}"><i class="fa fa-table fa-fw"></i>
                                            Material Category</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/material_type/index}"><i class="fa fa-table fa-fw"></i>Material
                                            Type</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-gavel"></i> Manage Debris<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                            <li>
                                <a th:href="@{/debris_service_type/index}"><i
                                        class="glyphicon glyphicon-wrench"></i> Debris Service Type</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope-o"></i> Manage Report<span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a th:href="@{/report/index}"><i class="fa fa-table fa-fw"></i>Report
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/report_type/index}"><i class="fa fa-table fa-fw"></i>Report Type
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <!-- /#page-wrapper -->
</div>
</html>
